@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-font-family: "Raleway", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif !important;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #fbfbfb;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/**
 * doesn't work for some reason
 */
.transition-height {
  transition: max-height 150ms ease-in-out;
}

.markdown {
  @apply font-medium;
}

.markdown > h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

.markdown > h1 {
  @apply text-3xl;
}
.markdown > h2 {
  @apply text-2xl;
}
.markdown > h3 {
  @apply text-xl;
}
.markdown > h4 {
  @apply text-lg;
}

.markdown > p {
  @apply my-4;
}

.markdown ol {
  list-style: roman inside;
}

.markdown ul {
  list-style: initial;
}

.markdown blockquote {
  @apply border-l-4 border-border my-2 rounded-sm pl-4 py-2;
}

.markdown a {
  @apply underline;
}

.pulse {
  border-radius: 4px;
  animation: pulse-animation 1.5s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(118, 85, 85, 0.2);
  }

  100% {
    box-shadow: 0 0 0 1em rgba(98, 34, 34, 0);
  }
}
