@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: #f8f8f8;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/**
 * doesn't work for some reason
 */
.transition-height {
  transition: max-height 150ms ease-in-out;
}

.markdown > h1, h2, h3, h4, h5, h6 {
  @apply font-semibold;
}

.markdown > h1 { @apply text-3xl; }
.markdown > h2 { @apply text-2xl; }
.markdown > h3 { @apply text-xl; }
.markdown > h4 { @apply text-lg; }

.markdown > p {
  @apply my-4;
}